server:
  port: 8080

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
spring:
  cloud:
    gateway:
      mvc:
        routes: # 라우팅 설정
          - id: toy-user
            uri: lb://toy-user
            predicates: # 라우팅 조건
              - Path=/api/v1/users/**
            filters:
              - name: addAuthenticationHeader
          - id: toy-board
            uri: lb://toy-board
            predicates:
                - Path=/api/v1/boards/**
            filters:
              - name: addAuthenticationHeader

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

jwt:
  header: Authorization
  secret-key: ${JWT_SECRET}